.father{
    
    background-color: tomato;
}

div > p{
    background-color: crimson;
}


::first-letter{
    color: rgb(186, 56, 56);
}

h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: darkgrey;
  font-weight:bold ;
}
p{
    color: cadetblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.reac{
    margin: 20px;
    height: 300px;
    width: 100px;
}