body{
margin: 0%;
background-color: darkcyan;

}

@keyframes changeColor {
    0%{background-color:red; width: 400px;}
    15%{background-color:yellowgreen;  width: 400px;}
    25%{background-color:blue;  width: 400px;}
    50%{background-color:brown;  width: 400px;}
    100%{background-color:grey;  width: 400px;}
    
}
.box{
    animation-name: changeColor;
    animation-duration: 10s; 
    animation-direction: reverse;
    animation-iteration-count: 2;
}


.programmer{
   row-gap: 10px;
}

.reac{
  
  height: 500px;
  width: 500px;
  margin: 10px;
}

#morepra{
  align-items: center;
  justify-items: center;
}

.due{
  height: 300px;
  height: 250px;
}